.bar {
  margin-top: 80px;
}
.bar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  background: rgba(0, 100, 100, 0.2);
  border: 2px solid rgba(0, 100, 100, 0.8);
  font-family: "Arial Black", sans-serif;
  color: rgba(0, 100, 100, 0.8);
  cursor: pointer;
  border-radius: 8px 8px 0 0;

  &.bar__item + .bar__item {
    border-top: none;
    border-radius: 0;

  }

  &:hover:disabled{
    .locked_alert {
      display: inline-block;
      left: 90px;
      position: relative;
    }
  }

  &:disabled {
    cursor: auto;
    background: rgba(0, 100, 100, 0.4);

  }
}

.bar__item_img {
  width: 80px;
  height: max-content;
}

.bar__item_lesson {
  font-size: 20px;
  font-family: "Arial Black", sans-serif;
  color: rgba(0, 100, 100, 0.8);
}

.locked_alert {
  display: none;
  font-family: "Arial Black", sans-serif;
  color: red;
}

@media (max-width: 1320px) {
  .bar {
    margin-top: 20px;
  }
  .bar__item {
    width: 400px;
    height: 80px;
    border-radius: 0 0 0 0;
    background: #fff;

    &.bar__item + .bar__item {
      border-top: none;
      border-radius: 0;

    }

    &:hover:disabled{
      .locked_alert {
        display: inline-block;
        left: 20px;
        position: relative;
      }
    }

    &:disabled {
      cursor: auto;
      background: rgba(0, 100, 100, 0.4);

    }
  }

  .bar__item_img {
    width: 80px;
    height: max-content;
  }

  .bar__item_lesson {
    font-size: 20px;
    font-family: "Arial Black", sans-serif;
    color: rgba(0, 100, 100, 0.8);
  }

  .locked_alert {
    display: none;
    font-family: "Arial Black", sans-serif;
    color: red;
  }
}
